* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height:70px;
  background: #ec715f;
}

.header-content {
  width: 1024px;
  margin: 0 auto;
}

.logo {
  height: 70px;
}

nav {
  display: flex;
}

.nav {
  display: inline-block;
}

.nav-list {
  font-size: 16px;
  color: #fafafa;
  list-style: none;
  margin: 0 30px;
  line-height: 70px;
}

.nav-list a {
  text-decoration: none;
  color: #fafafa;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url("img3/mv.png");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.main-visual h3 {
  font-size: 64px;
  color: #fafafa;
  padding-top: 200px;
  padding-bottom: 10px;
}

.main-visual p {
  font-size: 20px;
  color: #fafafa;
}

.portfolio {
  width: 100%;
  background-color: #eceff1;
}

.portfolio-content {
  width: 920px;
  text-align: center;
  margin: 0 auto;
}

.portfolio-text h3 {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  padding-bottom: 8px;
}

.portfolio-text p {
  font-size: 16px;
  color: #000000;
  padding-top: 30px;
  padding-bottom: 30px;
}

.line {
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  margin: 0 auto;
}

.portfolio-box {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 90px;
}

.box {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  object-fit: cover;
}

.box:nth-child(3), :nth-child(6) {
margin-right: 0;
}

.box:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.feature {
  width: 100%;
}

.feature-content {
  width: 980px;
  margin: 0 auto;
  text-align: center;
  padding: 90px 0;
}

.feature-content h3 {
  font-size: 32px;
  color: #000000;
  padding-bottom: 8px;
}

.feature-content p {
  font-size: 16px;
  color: #000000;
  padding-top: 30px;
  padding-bottom: 30px;
}

.feature-box {
  display: flex;
  justify-content: center;
}

.feature-content-box {
  width: 320px;
  height: auto;
  margin-right: 10px;
}

.feature-content-box:last-child {
  margin-right: 0;
}

.feature-content-box h3 {
  font-size: 20px;
  color: #000000;
}

.feature-content-box p {
  font-size: 16px;
  color: #000000;
}

.fa-amazon {
  font-size: 60px;
}

.profile {
  width: 100%;
  background-color: #eceff1
}

.profile-content {
  width: 1024px;
  padding-top: 90px;
  padding-bottom: 90px;
  margin: 0 auto;
  text-align: center;
}

.profile-content h3 {
  font-size: 32px;
  color: #000000;
}

.profile-content p {
  font-size: 16px;
  color: #000000;
  padding-top: 30px;
  padding-bottom: 30px;
}

.profile-box {
  display: flex;
  text-align: left;
}

.profile-box1 {
  width: 512px;
  text-align: center;
}

.profile-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.profile-box2 {
  width: 512px;
}

.profile-box2 h5 {
  font-size: 20px;
  padding-bottom: 5px;
}

.profile-logo {
  padding-top: 20px;
}

.profile-box2 p {
  padding: 0;
}

.contact {
  width: 100%;
}

.contact-content {
  width: 800px;
  padding-top: 90px;
  padding-bottom: 90px;
  margin: 0 auto;
  text-align: center;
}

.contact-content h3 {
  font-size: 32px;
  color: #000000;
}

.contact-content p {
  font-size: 16px;
  color: #000000;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact-box {
  display: flex;
}

.contact-information {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.contact-information h5 {
  display: inline-block;
  font-size: 20px;
  padding-bottom: 5px;
  text-align: left;
}

.contact-information > p {
  padding-top: 0;
  padding-bottom: 20px;
  text-decoration: underline;
}

.contact-icon {
  width: 400px;
  text-align: center;
}

.contact-icon h5 {
  display: inline-block;
  font-size: 20px;
  text-align: left;
}

.fab {
  display: flex;
  font-size: 50px;
  padding-top: 5px;
  margin-right: 20px;
}

.fab:nth-child(3) {
  margin-right: 0;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #ec715f;
  margin: 0 auto;
  text-align: center;
}

.footer-logo {
  font-size: 16px;
  color: #fafafa;
  line-height: 60px;
}

@media screen and (max-width: 767px) {
  header {
    height: 50px;
  }

  .header-content {
    width: 90%;
  }

  .logo {
    height: 50px;
  }

  .menu-box {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #fafafa;
    float: right;
  }

  .list-bar:first-child {
    margin-top: 10px;
  }

  .list-bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #fafafa;
  }

  .nav-list {
    display: none;
  }

  .main-visual {
    width: 90%;
    background-image: url("img3/code.png");
  }

  .main-visual h3 {
    font-size: 40px;
  }

  .main-visual p {
    font-size: 18px;
  }

  .portfolio-content {
    width: 90%;
  }

  .portfolio-box {
    width: 300px;
    margin: 0 auto;
    display: block;
    flex-wrap: none;
  }

  .box {
    margin-right: 0;
  }

  .box1,.box3,.box5{
    display: none;
  }
}